---
import Layout from "../../layouts/Layout.astro";
import Button from "../../components/Button.astro";
---

<Layout title="About • Savant" description="Hear the story behind Savant.">
  <div class="flex flex-col w-[90%] xl:w-[50%] mx-auto py-16">
    <h1 class="text-4xl sm:text-5xl font-black text-center">About</h1>
    <p class="text-lg sm:text-xl text-center mt-4">
      Hear the story behind Savant.
    </p>
    <hr class="border-t-2 border-gray-300 w-1/4 mx-auto mt-8 mb-16" />
    <h1 class="text-2xl font-bold">Savant <i>/'savnt/</i></h1>
    <p class="text-lg mt-4">
      <b>(noun)</b> a person who has an exceptional aptitude in one particular field,
      such as music or mathematics, despite having significant impairment in other
      areas of intellectual or social functioning.
    </p>
    <h1 class="text-xl font-bold mt-8">
      Savant is a community blog, where everyone has a chance to share their
      knowledge.
    </h1>
    <p class="text-lg mt-4">
      Savant started in early November of 2024 as a successor to my old <a
        href="https://legacy.blog.a2ys.dev"
        class="text-link">blog</a
      >. Compared to the previous blog, this blog has a new and required feature
      which is collaboration with other authors.
    </p><p class="text-lg mt-4">
      Savant allows anyone to share their knowledge to the world if they want.
      All the articles in the Savant blog will be available on GitHub <a
        href="https://github.com/a2ys/blog"
        class="text-link">here</a
      >, and will accept any changes if required. You can contribute to any
      article you want, or write a completely new article for the blog.
    </p><p class="text-lg mt-4">More features will be added to the blog!</p>
    <div
      class="flex w-full items-center justify-center text-sm text-center md:text-base"
    >
      <Button
        href="https://github.com/a2ys/blog"
        newStyle="mt-8 w-fit"
        text="View the Source Code on GitHub"
      />
    </div>
  </div>
</Layout>
