---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page Not Found • Savant">
  <div
    class="py-32 flex flex-col items-center justify-center text-center w-[90%] sm:w-[75%] md:w-[60%] lg:w-[50%] mx-auto"
  >
    <h1 class="text-4xl sm:text-5xl font-black">
      Looks like you hit a wrong note 🎼
    </h1>
    <p class="text-lg sm:text-xl mt-4">This page can't be found.</p>
  </div>
</Layout>
