---
import BlogCards from "../components/BlogCards.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Hero />
  <div class="flex items-center w-full justify-center">
    <BlogCards />
  </div>
</Layout>
