---
import FeaturedPosts from "../components/FeaturedPosts.astro";
import Hero from "../components/Hero.astro";
import RecentPosts from "../components/RecentPosts.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Hero />
  <div class="flex flex-col space-y-8 items-center w-full justify-center">
    <FeaturedPosts />
    <RecentPosts />
  </div>
</Layout>
