---
import BlogCard from "./BlogCard.astro";
---

<div class="grid grid-cols-3 w-[75%] gap-6">
  <BlogCard
    title="Blog Card"
    body="This is the short description of the blog card."
    imageSrc="/public/test.jpg"
    slug="/blog"
  />
  <BlogCard
    title="Blog Card"
    body="This is the short description of the blog card."
    imageSrc="/public/test.jpg"
    slug="/blog"
  />
  <BlogCard
    title="Blog Card"
    body="This is the short description of the blog card."
    imageSrc="/public/test.jpg"
    slug="/blog"
  />
  <BlogCard
    title="Blog Card"
    body="This is the short description of the blog card."
    imageSrc="/public/test.jpg"
    slug="/blog"
  />
  <BlogCard
    title="Blog Card"
    body="This is the short description of the blog card."
    imageSrc="/public/test.jpg"
    slug="/blog"
  />
  <BlogCard
    title="Blog Card"
    body="This is the short description of the blog card."
    imageSrc="/public/test.jpg"
    slug="/blog"
  />
</div>
