---
import { getCollection } from "astro:content";
import BlogCard from "./BlogCard.astro";

const blogPosts = await getCollection("blog");
---

<div
  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 w-[80%] xl:w-[75%] gap-6"
>
  {
    blogPosts.map((post) => (
      <BlogCard
        title={post.data.title}
        author={post.data.author}
        date={post.data.date}
        image="/test.jpg"
        slug={post.slug}
      />
    ))
  }
</div>
