---
const { text, style } = Astro.props;
---

<button
  class="rounded-full bg-gray-950 text-white px-6 py-2 hover:bg-gray-800 transition duration-300 ease-in-out"
  style={style}
  onclick="window.location.href='/posts'"
>
  {text}
</button>
