<footer class="p-16 mt-16 flex bg-gray-900 text-white">
  <div class="flex flex-col w-full justify-center font-medium">
    <div
      class="flex w-full justify-center max-[440px]:flex-col max-[440px]:text-center text-lg"
    >
      © 2024, A blog by
      <a href="https://a2ys.dev" class="link ml-1">Aayush Shukla</a>
    </div>
    <div class="max-[440px]:hidden flex w-full justify-center mt-4 text-md">
      <a href="https://github.com/a2ys" class="link">GitHub</a>
      <span class="mx-2">•</span>
      <a href="https://twitter.com/unreal_sapien" class="link">Twitter</a>
      <span class="mx-2">•</span>
      <a href="https://linkedin.com/in/a2ys" class="link">LinkedIn</a>
    </div>
  </div>
</footer>
