<div
  class="mb-12 py-20 bg-gradient-to-br from-gray-900 via-slate-800 to-gray-900 text-white relative overflow-hidden"
>
  <div class="absolute inset-0 bg-gradient-to-t from-black/20 to-transparent">
  </div>
  <div
    class="w-[90%] sm:w-[80%] md:w-[75%] lg:w-[60%] mx-auto relative text-center"
  >
    <h1
      class="text-5xl max-[371px]:text-3xl font-black leading-tight tracking-tight"
    >
      Welcome to Savant!
    </h1>
    <p class="text-base sm:text-lg mt-4 text-slate-300 max-w-2xl mx-auto">
      A community blog where everyone has a chance to share their knowledge.
      More than just a blog, Savant is a platform for collaboration and
      learning. More authors means more perspectives, more ideas, and more
      knowledge to share with the world.
    </p>
  </div>
</div>
