<div class="flex w-full justify-center">
  <div
    class="text-center justify-center w-[90%] sm:w-[80%] md:w-[75%] lg:w-[60%] xl:w-[50%] flex flex-col pt-24 pb-8"
  >
    <h1 class="text-4xl sm:text-5xl font-black">Welcome to Savant!</h1>
    <p class="text-lg mt-6">
      Savant is a community blog, where everyone has a chance to share their
      knowledge. More than just a blog, Savant is a platform for collaboration
      and learning. More authors means more perspectives, more ideas, and more
      knowledge to share with the world. Have fun!
    </p>
  </div>
</div>
<hr class="border-t-2 border-gray-300 w-1/4 mx-auto mt-8 mb-32" />
