<div class="flex w-full justify-center">
  <div
    class="text-center justify-center w-[90%] sm:w-[80%] md:w-[75%] lg:w-[60%] xl:w-[50%] flex flex-col pt-24 pb-8"
  >
    <h1 class="text-5xl font-black">
      From Ideas to Impact: A Journey in Tech and Design
    </h1>
    <p class="text-lg sm:text-lg mt-6">
      This blog is dedicated to me sharing my knowledge and experience on how I
      do things and how you can do them too. Here, I'll be sharing my thoughts
      on various topics like web development, design, and more.
    </p>
  </div>
</div>
<hr class="border-t-2 border-gray-300 w-1/4 mx-auto mt-8 mb-32" />
