---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar";
import "@fontsource-variable/inter";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <!-- Base Meta Tags -->
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Author Information -->
    <meta name="author" content="Aayush Shukla" />
    <meta name="description" content="Savant, a community blog." />

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Savant" />
    <meta property="og:description" content="A community blog" />
    <meta property="og:type" content="blog" />
    <meta property="og:image" content="https://blog.a2ys.dev/og.webp" />
    <meta property="og:url" content="https://blog.a2ys.dev" />
    <meta property="og:site_name" content="Savant - A community blog" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image:width" content="7680" />
    <meta property="og:image:height" content="4320" />

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@unreal_sapien" />
    <meta name="twitter:title" content="Savant" />
    <meta name="twitter:description" content="A community blog" />
    <meta name="twitter:image" content="https://blog.a2ys.dev/og.webp" />

    <!-- Other Meta Tags -->
    <meta
      name="keywords"
      content="Savant, Savant blog, Savant community, Savant collaboration, a2ys, a2ys Savant, knowledge sharing, a2ys blog, tech blog, developer community, open-source articles, contribute to Savant, Savant GitHub, Savant authors, a2ys developer, collaborative blog, tech insights, programming articles, coding tutorials, a2ys projects, Savant platform, a2ys articles, tech contributions, Savant knowledge base, Savant open-source blog, developer knowledge sharing, learn with Savant, a2ys resources, Savant for developers"
    />

    <!-- Font Imports -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />

    <title>{title || "Blog"}</title>
    <ViewTransitions />
  </head>
  <body>
    <Navbar client:load />
    <section class="flex flex-col min-h-[95vh]">
      <div class="h-full flex-grow">
        <slot />
      </div>
      <Footer />
    </section>
  </body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
  }

  .link {
    position: relative;
    display: inline-block;
  }

  .link::after {
    content: "";
    height: 2px;
    background-color: white;
    width: 0;
    transition: width 0.3s ease;
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
  }

  .link:hover::after {
    width: 100%;
  }

  .text-link {
    @apply border-b-2 border-dotted border-b-black;
  }

  a.link {
    position: relative;
    display: inline-block;
    color: white;
  }

  a.link::after {
    content: "";
    height: 2px;
    background-color: white;
    width: 0;
    transition: width 0.3s ease;
    display: block;
    position: absolute;
    left: 0;
  }

  a.link:hover::after {
    width: 100%;
  }

  .dropdown {
    transition:
      max-height 5s ease,
      opacity 5s ease;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
  }

  .dropdown.open {
    max-height: 200px;
    opacity: 1;
  }

  pre {
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 0;
  }

  code {
    overflow-x: auto;
  }

  span.line > span {
    font-family: "Roboto Mono", monospace !important;
  }
</style>
